@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* max 1400 */
@media screen and (max-width: 1400px) {

  .footer {
    .present-block {
      bottom: 10px;
      right: 15px;
      transform: scale(0.7);
    }
  }

}

/* max 1220 */
@media screen and (max-width: 1220px) {
  .order {
    .container {
      .order-images {
        .strawberry_1 {
          left: -20px;
        }
      }
    }
  }
}

/* 769 - 1200 */
@media screen and (max-width: 1200px) {

  .advantages-grid {
    justify-content: space-evenly;
    row-gap: 40px;
  }

  .product {
    .container {
      .product-grid {
        grid-template-columns: repeat(2, 263px);
        justify-content: space-evenly;
        row-gap: 140px;
      }
    }
  }


  .order {
    .container {
      .order-images {
        text-align: right;
        padding-right: 20px;

        .strawberry_1 {
          left: 100px;
        }
      }

      .order-main {
        .strawberry_2 {
          right: 100px;
        }
      }
    }
  }
}

/* 769 - 1024 */
@media screen and (max-width: 1024px) {

  .header-menu {
    margin-left: 0;
  }

  .main {
    padding-top: 97px;
    padding-bottom: 0;

    .container {
      flex-direction: column;
      align-items: normal;

      .main-info {

        h1 {
          margin-bottom: 74px;
        }

        .main-info-text {
          margin-bottom: 41px;
        }

        .button {
          position: relative;
          z-index: 1;
        }
      }

      .main-img {
        max-width: 530px;
        align-self: flex-end;
        transform: translateY(-18%);
      }
    }
  }

  .advantages {
    .container {
      text-align: center;

      .advantages-main {
        flex-direction: column;
        align-items: center;

        .advantages-main-info {
          max-width: 670px;
          width: 100%;

          h2 {
            max-width: 475px;
            margin: 0 auto 52px;
          }

          .advantages-main-info-text {
            margin: 0 auto 40px;
            max-width: 100%;
          }
        }
      }

      .advantages-grid {
        grid-template-columns: repeat(2, 225px);
        justify-content: space-evenly;

        .advantages-grid-item {
          text-align: center;

          .advantages-grid-item-numbers-circle {
            margin: 0 auto;
          }
        }
      }
    }
  }


  .order {
    .container {
      .order-images {
        .strawberry_1 {
          left: 0;
        }
      }

      .order-main {
        .strawberry_2 {
          right: 60px;
        }
      }
    }
  }
}

/* 769 - 920 */
@media screen and (max-width: 920px) {

  .order {
    .container {
      position: relative;

      .order-images {
        position: absolute;
        right: 30px;
        bottom: -130px;
        padding-right: 0;

        .strawberry_1 {
          left: 6%;
        }

        .order-image-big {
          max-width: 352px;
        }
      }

      .order-main {
        max-width: 100%;
        padding-left: 0;

        .strawberry_2 {
          right: 14%;
          bottom: 63%;
        }
      }
    }
  }
}

/* 376 - 768 */
@media screen and (max-width: 768px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    .container {
      justify-content: normal;
      position: relative;

      section.header > div > img {
        position: absolute;
      }

      .header-menu {
        margin: 0 auto;
      }

      .header-menu-phone {
        display: none;
      }
    }
  }

  .main {
    padding-top: 80px;
    padding-bottom: 0;

    .container {
      flex-direction: column;
      align-items: normal;

      .main-info {

        h1 {
          margin-bottom: 74px;
        }

        .main-info-text {
          margin-bottom: 41px;
        }

        .button {
          position: relative;
          z-index: 1;
        }
      }

      .main-img {
        max-width: 530px;
        align-self: flex-end;
        transform: translateY(-18%);
      }
    }
  }


  .advantages {
    .container {
      .advantages-main {
        .advantages-main-img {
          img {
            max-width: 302px;
          }
        }
      }

      .advantages-grid {
        justify-content: center;
        row-gap: 80px;
        column-gap: 50px;
      }
    }
  }

  .product {
    .container {
      .product-grid {
        justify-content: center;
      }
    }
  }


  .order {
    .container {
      .order-images {
        .strawberry_1 {
          max-width: 72px;
        }
      }
    }
  }
}

/* max 675 */
@media screen and (max-width: 675px) {

  .header {
    .container {
      position: static;
      justify-content: space-between;

      section.header > div > img {
        position: static;
      }

      .header-menu {
        justify-content: space-between;
        margin: 0;
      }
    }
  }


  .main {
    padding-bottom: 40px;

    .container {
      align-items: center;

      .main-info {
        text-align: center;
        margin-bottom: 40px;

        h1 {
          margin-bottom: 40px;
        }

        .main-info-text {
          margin: 0 auto 40px;
        }
      }

      .main-img {
        align-self: normal;
        transform: translateY(0);

        &::before {
          left: 35%;
        }

        &::after {
          left: 35%;
        }
      }
    }
  }


  .order {
    padding-bottom: 30px;

    .container {
      .order-images {
        display: none;
      }

      .order-main {
        #order_success {
          padding-top: 90px;
        }

        #order_form {
          .order-input {
            width: 344px;
          }

          .main-info-action {
            margin-bottom: 38px;

            .order-button {
              width: 344px;
            }
          }
        }

        .strawberry_2 {
          right: 13%;
          bottom: 69%;
          animation: berry-3 3s infinite;
        }

        @keyframes berry-3 {
          0% {
            transform: scale(-1.4, 1.4);
          }

          50% {
            transform: scale(-1.4, 1.4) translateY(10%);
          }

          100% {
            transform: scale(-1.4, 1.4);
          }
        }
      }
    }
  }

  .footer {
    .present-block {
      bottom: 5px;
      right: 5px;
    }
  }

}

/* 376 - 600 */
@media screen and (max-width: 600px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    .container {
      position: static;
      justify-content: space-between;

      section.header > div > img {
        position: static;
      }

      .header-menu {
        display: none;
      }

      .menu {
        position: fixed;
        z-index: 20;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background: #000000c9;

        .close {
          display: block;
          width: 24px;
          height: 24px;
          fill: #eba8b1;
          position: absolute;
          top: 20px;
          left: 20px;
        }

        ul {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin: 0 auto;

          .header-menu-list {
            a {
              font-size: 40px;
              font-weight: 700;
              color: #eba8b1;
            }
          }
        }
      }

      .open {
        display: flex;
        align-items: center;
      }

      .burger-button {
        display: block;
      }

      .burger {
        display: block;
      }
    }
  }

  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
      .advantages-main {
        .advantages-main-info {
          h2 {
            font-size: 35px;
          }
        }
      }

      .advantages-grid {
        grid-template-columns: repeat(2, 225px);
        row-gap: 36px;
        column-gap: 40px;

        .advantages-grid-item {
          max-width: 100%;
        }
      }
    }
  }

  .product {
    .container {
      h2 {
        font-size: 30px;
        margin-bottom: 122px;
      }

      .product-grid {
        grid-template-columns: repeat(1, 263px);
        row-gap: 136px;
      }
    }
  }

  .order {
    .container {
      .order-main {
        h2 {
          font-size: 35px;
        }
      }
    }
  }
}


/* max 500 */
@media screen and (max-width: 500px) {


  .main {
    .container {
      .main-img {
        &::before {
          max-width: 200px;
          width: 100%;
          max-height: 200px;
          height: 100%;
        }

        &::after {
          max-width: 200px;
          width: 100%;
          max-height: 200px;
          height: 100%;
        }
      }
    }
  }


  .advantages {
    .container {
      .advantages-main {
        .advantages-main-info {
          h2 {
            font-size: 30px;
          }

          .advantages-main-info-text {
            font-size: 16px;
          }
        }
      }

      .advantages-grid {
        grid-template-columns: repeat(2, 165px);
        row-gap: 36px;
        column-gap: 15px;

        .advantages-grid-item-h {
          font-size: 18px;
        }

        .advantages-grid-item-text {
          font-size: 13px;
        }
      }
    }
  }

  .order {
    padding-top: 100px;
    padding-bottom: 39px;

    .container {
      .order-main {
        .strawberry_2 {
          bottom: 63%;
        }
      }
    }
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 101px;

    .container {
      flex-direction: column;
      text-align: center;
      gap: 40px;

      .footer-left {
        order: 1;
        position: relative;

        .logo {
          margin-bottom: 0;
        }

        .footer-rights {
          position: absolute;
          top: 225px;
          left: -29px;
          width: 170px;
        }
      }

      .footer-right {
        order: 2;
      }

      .footer-center {
        order: 3;
      }
    }
  }
}

/* 320 - 376 */
@media screen and (max-width: 376px) {

  .main {
    padding-top: 45px;

    .container {
      .main-info {
        h1 {
          font-size: 32px;
          line-height: 1.25;
        }

        .main-info-text {
          font-size: 16px;
          line-height: 1.438;
        }
      }

      .main-img {
        align-self: center;
        max-width: 250px;

        &::before {
          max-width: 130px;
          width: 100%;
          max-height: 130px;
          height: 100%;
          left: 26%;
        }

        &::after {
          max-width: 130px;
          width: 100%;
          max-height: 130px;
          height: 100%;
          left: 26%;
        }
      }
    }
  }


  .advantages {
    .container {
      .advantages-main {
        .advantages-main-info {
          h2 {
            font-size: 26px;
            line-height: 1.167;
          }

          .advantages-main-info-text {
            font-size: 14px;
            line-height: 1.437;
          }
        }
      }

      .advantages-grid {
        grid-template-columns: repeat(2, 165px);
        row-gap: 36px;
        column-gap: 15px;
      }
    }
  }

  .product {
    padding-top: 100px;
    padding-bottom: 100px;
  }


  .order {
    .container {
      .order-images {
      }

      .order-main {
        text-align: left;

        h2 {
          font-size: 30px;
        }

        .order-info {
          font-size: 16px;
        }

        .lds-ripple {
          margin-left: 120px;
        }

        #order_form {
          .order-input,
          .main-info-action .order-button {
            max-width: 344px;
            width: 100%;
          }
        }

        .strawberry_2 {
          bottom: 68%;
        }
      }
    }
  }

  .footer {
    .present-block {
      bottom: 0;
      right: 0;
    }
  }
}

/* max 360 */
@media screen and (max-width: 360px) {

  .header {
    .container {
      .header-menu {
        ul {
          .header-menu-list {
            a {
              font-size: 30px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .main-info {
    h1 {
      font-size: 27px;
    }
  }

  .advantages {
    .container {
      .advantages-grid {
        grid-template-columns: repeat(1, 225px);
        .advantages-grid-item {
          .advantages-grid-item-text {
            font-size: 15px;
          }
        }
      }
    }
  }
}


